@font-face {
    src: url(./Fonts/SpaceMono-Regular.ttf);
    font-family: 'mono-400';
    font-weight: 400;
}

@font-face {
    src: url(./Fonts/SpaceMono-Bold.ttf);
    font-family: 'mono-700';
    font-weight: 700;
}

@font-face {
    src: url(./Fonts/WorkSans-Regular.ttf);
    font-family: 'sans-400';
    font-weight: 400;
}

@font-face {
    src: url(./Fonts/WorkSans-SemiBold.ttf);
    font-family: 'sans-600';
    font-weight: 600;
}

@font-face {
    src: url(./Fonts/WorkSans-Bold.ttf);
    font-family: 'sans-700';
    font-weight: 700;
}

:root {
    --grey: #3b3b3b;
    --white: #ffffff;
    --purple: #a259ff;
    --background-color: #2b2b2b;
    --text-color: #858585;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    outline: none;
    border: none;
    background: none;
}

body {
    font-family: 'sans-400', sans-serif;
    background-color: var(--background-color);
}

/* General */
.container {
    width: 1050px;
    margin: 0 auto;
}

.btn {
    background: var(--purple);
    color: var(--white);
    padding: 20px 30px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'sans-600', sans-serif;
    cursor: pointer;
}

/* Header */
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header .container .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.header .container .menu .link {
    font-size: 16px;
    font-weight: 600;
    font-family: 'sans-600', sans-serif;
    color: var(--white);
}

.header .container .btn {
    background: var(--purple);
    color: var(--white);
    padding: 20px 30px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'sans-600', sans-serif;
}

/* main */
.main .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: var(--white);
    padding: 80px 0;
}

.main .container .left,
.main .container .right {
    width: 510px;
}

.main .container .left h1 {
    font-size: 67px;
    font-weight: 600;
    font-family: 'sans-600', sans-serif;
    line-height: 74px;
}

.main .container .left .subtitle {
    font-size: 22px;
    font-family: 'sans-400', sans-serif;
    line-height: 35px;
    margin: 30px 0;
}

.main .container .left .btn {
    padding: 20px 50px;
}

.main .container .left .wraper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.main .container .left .wraper .number {
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    font-family: 'mono-700', sans-serif;
}

.main .container .left .wraper .number p {
    font-size: 24px;
    line-height: 40px;
}

.main .container .right .card {
    background: var(--grey);
    border-radius: 20px;
    overflow: hidden;
}

.main .container .right .card .content {
    padding: 20px;
}

.main .container .right .card .content h3 {
    padding-bottom: 10px;
}


.main .container .right .card .profile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


/* Collection */
.collection .container {
    padding: 80px auto;
    color: var(--white);
}

.collection .container .titles .up-title {
    font-size: 38px;
    font-weight: 600;
    font-family: 'sans-600', sans-serif;
    line-height: 46px;
}

.collection .container .titles .subtitle {
    margin: 10px 0 60px;
    font-size: 22px;
    line-height: 35px;
}

.collection .container .wraper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.collection .container .wraper .item {
    width: 330px;

}

.collection .container .wraper .item .main-img {
    width: 330px;
    height: 330px;
    border-radius: 20px;
    overflow: hidden;
}

.collection .container .wraper .item .main-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.collection .container .wraper .item .images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.collection .container .wraper .item .images .one {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--purple);
}

.collection .container .wraper .item .images .one img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.collection .container .wraper .item .images .one p {
    font-size: 22px;
    font-weight: 700;
    font-family: 'mono-700', sans-serif;
    line-height: 35px;
}

.collection .container .wraper .user h3 {
    font-size: 22px;
    font-weight: 600;
    font-family: 'sans-600', sans-serif;
    line-height: 31px;
    padding-bottom: 10px;
    gap: 12px;
}

.collection .container .wraper .user .name {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}

.collection .container .wraper .user .name img {
    width: 24px;
    height: 24px;
}

.collection .container .wraper .user .name p{
    font-size: 16px;
    line-height: 22px;
}

/* creators */
.creators .container .titles {
    display: flex;
    align-items: center;
    justify-content: space-between;
}