@font-face {
    src: url(./Fonts/SpaceMono-Regular.ttf);
    font-family: 'mono-400';
    font-weight: 400;
}

@font-face {
    src: url(./Fonts/SpaceMono-Bold.ttf);
    font-family: 'mono-700';
    font-weight: 700;
}

@font-face {
    src: url(./Fonts/WorkSans-Regular.ttf);
    font-family: 'sans-400';
    font-weight: 400;
}

@font-face {
    src: url(./Fonts/WorkSans-SemiBold.ttf);
    font-family: 'sans-600';
    font-weight: 600;
}

@font-face {
    src: url(./Fonts/WorkSans-Bold.ttf);
    font-family: 'sans-700';
    font-weight: 700;
}

:root {
    --grey: #3b3b3b;
    --white: #ffffff;
    --purple: #a259ff;
    --background-color: #2b2b2b;
    --text-color: #858585;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    outline: none;
    border: none;
    background: none;
}


body {
    font-family: 'sans-400', sans-serif;
    background-color: var(--background-color);
}

/* General */
.container {
    width: 1050px;
    margin: 0 auto;
}

.btn {
    background: var(--purple);
    color: var(--white);
    padding: 20px 30px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'sans-600', sans-serif;
    cursor: pointer;
}

.btn.outline {
    background: none;
    border: 2px solid var(--purple);
}

.btn.white {
    background: var(--white);
    color: var(--background-color);
}

.btn .white i {
    color: var(--purple);
}

.btn .outline i {
    color: var(--purple);
}

/* Header */
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header .container .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.header .container .menu .link {
    font-size: 16px;
    font-weight: 600;
    font-family: 'sans-600', sans-serif;
    color: var(--white);
}

.header .container .btn {
    background: var(--purple);
    color: var(--white);
    padding: 20px 30px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'sans-600', sans-serif;
}

/* main */
.main .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: var(--white);
    padding: 80px 0;
}

.main .container .left,
.main .container .right {
    width: 510px;
}

.main .container .left h1 {
    font-size: 67px;
    font-weight: 600;
    font-family: 'sans-600', sans-serif;
    line-height: 74px;
}

.main .container .left .subtitle {
    font-size: 22px;
    font-family: 'sans-400', sans-serif;
    line-height: 35px;
    margin: 30px 0;
}

.main .container .left .btn {
    padding: 20px 50px;
}

.main .container .left .wraper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.main .container .left .wraper .number {
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    font-family: 'mono-700', sans-serif;
}

.main .container .left .wraper .number p {
    font-size: 24px;
    line-height: 40px;
}

.main .container .right .card {
    background: var(--grey);
    border-radius: 20px;
    overflow: hidden;
}

.main .container .right .card .content {
    padding: 20px;
}

.main .container .right .card .content h3 {
    padding-bottom: 10px;
}


.main .container .right .card .profile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


/* Collection */
.collection .container {
    padding: 80px auto;
    color: var(--white);
}

.collection .container .titles .up-title {
    font-size: 38px;
    font-weight: 600;
    font-family: 'sans-600', sans-serif;
    line-height: 46px;
}

.collection .container .titles .subtitle {
    margin: 10px 0 60px;
    font-size: 22px;
    line-height: 35px;
}

.collection .container .wraper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.collection .container .wraper .item {
    width: 330px;

}

.collection .container .wraper .item .main-img {
    width: 330px;
    height: 330px;
    border-radius: 20px;
    overflow: hidden;
}

.collection .container .wraper .item .main-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.collection .container .wraper .item .images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.collection .container .wraper .item .images .one {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--purple);
}

.collection .container .wraper .item .images .one img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.collection .container .wraper .item .images .one p {
    font-size: 22px;
    font-weight: 700;
    font-family: 'mono-700', sans-serif;
    line-height: 35px;
}

.collection .container .wraper .user h3 {
    font-size: 22px;
    font-weight: 600;
    font-family: 'sans-600', sans-serif;
    line-height: 31px;
    padding-bottom: 10px;
    gap: 12px;
}

.collection .container .wraper .user .name {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}

.collection .container .wraper .user .name img {
    width: 24px;
    height: 24px;
}

.collection .container .wraper .user .name p {
    font-size: 16px;
    line-height: 22px;
}

/* creators */
.creators .container {
    padding: 80px 0;
}

.creators .container .titles {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 60px;
}

.creators .container .titles .text {
    color: var(--white);
}

.creators .container .titles .text .up-title {
    padding-bottom: 10px;
    font-size: 38px;
    font-family: 'sans-600', sans-serif;
    font-weight: 600;
}

.creators .container .titles .text .subtitle {
    font-size: 22px;
    font-family: 'sans-400', sans-serif;
    padding-top: 10px;

}

.creators .container .titles .btns .btn {
    width: 247px;
    border: 2px solid var(--purple);
    background: var(--background-color);
    border-radius: 20px;
    align-items: flex-end;
}

.creators .container .titles .btns .btn i {
    color: var(--purple);
    padding-right: 12px;
}

.creators .container .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 90px;
}

.creators .container .wrapper .card {
    width: 240px;
    background: var(--grey);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.creators .container .wrapper .card .top {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
}

.creators .container .wrapper .card .number {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.creators .container .wrapper .card .number p {
    color: var(--text-color);
}

.creators .container .wrapper .card .image-block {
    width: 120px;
    height: 120px;
}

.creators .container .wrapper .card .image-block img {
    width: 100%;
    height: 100%;
}

.creators .container .wrapper .card h3 {
    font-size: 22px;
    font-weight: 600;
    font-family: 'sans-400', sans-serif;
    margin: 20px 0 5px;
    color: var(--white);
}

.creators .container .wrapper .card p {
    font-size: 16px;
    color: var(--text-color);
}

.creators .container .wrapper .card p span {
    color: var(--white);
    padding-left: 10px;
}

/* category */

.category {
    padding: 80px 0;
}


.category .site-title {
    font-size: 38px;
    font-weight: 600;
    color: var(--white);
}

.category .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 60px;
}

.category .wrapper .card {
    width: 240px;
    border-radius: 20px;
    overflow: hidden;
}

.category .wrapper .card .top {
    background-image: url(./img/Monkey.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(10px);
    background-position: center;
    padding: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.category .wrapper .card .top img {
    position: relative;
    z-index: 2;
}

.category .wrapper .card .top::after {
    content: '';
    display: block;
    backdrop-filter: blur(30px);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.category .wrapper .card .bottom h3 {
    padding: 25px 30px;
    background: #ffffff1a;
    color: var(--white);
    font-size: 22px;
    font-weight: 600;
    font-family: 'Sans-600', sans-serif;
}

/* Discover */
.discover {
    padding: 80px 0;
}

.discover .titles {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.discover .titles .text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--white);
}

.discover .titles .text h1 {
    font-size: 38px;
    font-weight: 600;
}

.discover .titles .text p {
    font-size: 22px;
    font-weight: 400;
}

/* .discover .titles .btn{} */

.discover .wrapper {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.discover .wrapper .card {
    width: 330px;
    border-radius: 20px;
    overflow: hidden;

}

.discover .wrapper .card .image-block {
    width: 330px;
    height: 270px;
}

.discover .wrapper .card .image-block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.discover .wrapper .card .content {
    padding: 25px 30px;
    background: #ffffff1a;
    color: var(--white);
}

.discover .wrapper .card .content h3 {
    font-size: 22px;
    font: 600px;
    font-family: 'Sans-600', sans-serif;
}

.discover .wrapper .card .content .user {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 0 25px;
}

.discover .wrapper .card .content .user img {
    width: 30px;
    height: 30px;
}

.discover .wrapper .card .content .bottom {

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.discover .wrapper .card .content .bottom p {
    color: var(--text-color);
    padding-bottom: 8px;
}

/* Mushroom */

.mushroom {
    background: url(./img/NFT-Highlight.png) no-repeat center / cover;
}

.mushroom .container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 360px 0 60px;
}

.mushroom .container .left .user {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    background: var(--grey);
    width: 151px;
    padding: 10px 20px;
    border-radius: 20px;
}

.mushroom .container .left .user p {
    font-size: 16px;
    color: var(--white);
}

.mushroom .container .left h2 {
    font-size: 51px;
    font-weight: 600;
    font-family: 'Sans-600', sans-serif;
    line-height: 56px;
    padding: 30px 0;
    color: var(--white);
}

.mushroom .container .right {
    background: rgba(59, 59, 59, 0.5);
    color: var(--white);
    padding: 30px;
    border-radius: 20px;
}

.mushroom .container .right h4 {
    font-size: 12px;
    font-weight: 600;
    font-family: 'Mono-400', sans-serif;
}

.mushroom .container .right .timer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    text-align: center;
    padding-top: 10px;
}

.mushroom .container .right .timer p {
    font-size: 28px;
    font-weight: 700;
    font-family: 'Mono-700', sans-serif;
}

.mushroom .container .right .timer span {
    font-size: 12px;
    font-weight: 400;
    font-family: 'Mono-400', sans-serif;
}

/* Digest */

.digest .container {
    background: var(--grey);
    margin: 70px auto;
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.digest .container .image-block {
    width: 425px;
    height: 310px;
    border-radius: 20px;
    overflow: hidden;
}

.digest .container .image-block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.digest .container .titles {
    width: 425px;
    color: var(--white);
}

.digest .container .titles h1 {
    font-size: 38px;
    font-weight: 600;
}

.digest .container .titles p {
    font-size: 22px;
    font-weight: 400;
}

.digest .container .titles form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: var(--white);
    border-radius: 20px;
    margin-top: 40px;
}
.digest .container .titles form input{
    padding: 20px;
    border: 0;
    outline: 0;
    font-size: 16px;
    font-weight: 400;
    color: var(--grey);
    background: none;
}
.digest .container .titles form  .btn{
    padding: 20px 50px;
}